# Ignore node_modules directory
node_modules/

# Ignore build output
dist/
lib/

.dist/

# Ignore environment-specific files
.env

# Ignore log files
*.log

# Ignore editor-specific files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore npm lock file
package-lock.json

.parcel-cache/
